@font-face {
  font-family: novecento;
  src: url(../assets/font/novecento.otf) format("opentype");
}

html {
max-width: 100%;
}

body {
  font-family: "novecento", sans-serif;
  text-transform: uppercase;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

.container {
  padding: 0 40px;
}

#email {
  color:white;
}

#logo {
  position: absolute;
  width: 600px;
  left: 35px;
  top: 35px;
}

section {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.contact {
/*  height: 100vh;
  width: 100%;*/
/*  overflow: hidden;
  overflow-x: hidden; */
/*  -webkit-filter: blur(0.000001px);*/
/*  -webkit-font-smoothing: antialiased !important;*/
/*  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}

section.hero {
  background: url('../assets/img/LRBG.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero .container,
.hero .container .row,
.hero .container .row .top {
  height: 100%;
}

section.grey {
/*  background-color: #4d4d4d;*/
  background-color: rgba(0,0,0,0.7);
  background-attachment: fixed;
}

/*section.white {
  background: url('../assets/img/LAwhite.png');
  background-attachment: fixed;
}*/

.section.requirements {
  color: #FFFFFF;
}

.section {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%); 
  width: 85%;
  padding: 50px;
}

.about {
  background-color: rgba(0,0,0,0.6);
/*  padding: 5px 15px 10px 15px;*/
  line-height: 2;
  border-radius: 3px;
}

.section p,
.section li {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
  margin: 0 0 15px;
}

.section li {
  line-height: 1.3;
}
  
.section h2 {
  margin: 0 0 25px;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

.section h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 25px 0 25px;
}

#contact {
padding-top: 8.5%;
margin: 0;
border: 1px solid transparent;
right:0;
left:0;
bottom:0;
top:0;
overflow: hidden;
}

.section.contact p {
  line-height: 1.3;
}

.top {
  padding: 45px 0;
/*  position: relative;*/
}

ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.links li a {
  font-size: 30px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 15px 10px 15px;
  line-height: 2;
  border-radius: 3px;
}

ul.links li a:hover {
  background-color: white;
  color: rgb(87,86,86);
}

ul.links li a:hover, 
ul.links li a:focus
ul.links li a:active,
ul.links li a:visited {
  text-decoration: none;
}

ul.links li a.fa {
  padding: 0;
  height: 51px;
  margin: 0;
  height: 51px;
  line-height: 51px;
  width: 51px;
  text-align: center;
  margin-top: 7px;
}

.link-wrapper {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.copyright {
  padding: 50px 0;
  font-size: 12px;
  text-align: center;
}
.fa-facebook,
.fa-twitter {
  color: black;
  background-color: white;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 10px 5px;
}

.fa-facebook:hover,
.fa-twitter:hover {
  background: black;
  color: white;
  text-decoration: none;
}
/*
a.fa:hover,
a.fa:active,
a.fa:focus {
  text-decoration: none;
}*/

@media (max-width: 960px) {
  section {
    height: auto;
  }

  .section {
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;  
    transform: none; 
    width: 100%;
    padding: 40px 20px;
  }

  .section p {
    font-size: 8px;
  }

  .section li {
    font-size: 8px;
  }

  section.hero {
    height: 100vh;
    background-position: 50% -30%; 
  }

  #logo {
    width: 75%;
  }

  ul.links li a {
    font-size: 30px;
  }

  .section p,
  .section li {
    text-align: left;
  }

  .section.contact {
    padding: 40px 0;
  }

  section.hero {
    background-attachment: fixed;
  }

  .section h2 {
    font-size: 28px;
  }
}





