<!-- About Section -->
    <section id="about">
        <div class="container">
            <h2 class="section-heading">About</h2>
            <br>

            <div class="about-section"><p>London Acre is a dynamic property development company specialising in creating boutique residential schemes in key locations across the capital.</p>

            <p>Design, quality and attention to detail lie at the heart of the company’s ethos, ensuring that every London Acre home is created with its residents in mind.</p>

            <p>The company, which was founded in early 2016, was created in response to the growing demand for thoughtfully designed, well-located homes that meet and exceed the needs of London’s rapidly expanding population.</p>

            <p>London Acre’s team has a proven track record achieving planning permission for a number of high profile London schemes. Working with industry leading architects, designers and consultants, a tailored approach is taken to each site, from the point of acquisition through to the design and delivery of these exceptional properties.</p>

            <p>Managing Director, Ross Jacobson, has in-depth knowledge and extensive experience of London’s residential and commercial property markets, having overseen in excess of £100 million of property transactions in the capital.</p>


            </div>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in"></div>
                    <div class="intro-heading"></div>
                    <a href="#team" class="requirements page-scroll btn btn">Requirements</a>
                </div>
            </div>
        </div>
    </section>