<section id="contact">
    <div class="container">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us">Contact</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>

                <div class="row">
                    <div class="col-xs-6 col-lg-4">
                        <div class="form-group">
                            <div class="contact">
                                <h2>Address</h2>
                                <p class="address">
                                    London Acre
                                    <br>
                                    Interchange Triangle
                                    <br>
                                    Stables Market
                                    <br>
                                    Chalk Farm Road
                                    <br>
                                    London
                                    <br>
                                    NW1 8AB
                                    <br>
                                    <br>
                                    Tel: +44 (0)20 3355 0719
                                    <br>
                                    <a class="email" id="contact-email" href="mailto:info@londonacre.co.uk">info@londonacre.co.uk</a>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                        <div class="container maps col-xs-12 col-sm-6 col-lg-8">
                            <h2>Map</h2>
                            <div class="google-map map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.3957212776318!2d-0.1516555221616787!3d51.54264236368982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ae3fb04cd45%3A0xc7d018cebe591764!2sInterchange+Triangle!5e0!3m2!1sen!2suk!4v1457612536865" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                        </div>



                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>
</div>
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <span class="copyright">&copy; {{ site.title }} 2016</span>
    </div>
</footer>
</section>