<!-- Navigation -->
            <img class="logo" src="img/logos/logo.png" alt="">

            <div class="col-xs-6 col-sm-4">
                <ul class="nav nav-pills nav-stacked affix-top hidden-print" data-toggle="affix" data-spy="affix">
                    <li>
                        <a class="page-scroll head-about" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll head-requirements" href="#team">Requirements</a>
                    </li>
                    <li>
                        <a class="page-scroll head-contact" href="#contact">Contact</a>
                    </li>
                    <li class ="social-li">
                        <span class="head-social"><a class="page-scroll head-twitter" href="https://twitter.com/LondonAcre" target="_blank"><i class="fa fa-twitter"></i></a><a class="page-scroll head-fb" href="https://facebook.com/londonacre" target="_blank"><i class="fa fa-facebook &nbsp; "></i></a></span>
                    </li>
                </ul>
            </div>

            <script> 
                $('ul.nav.nav-pills li a').click(function() {          
                    $(this).parent().addClass('active').siblings().removeClass('active');   
                });
            </script>
                <!-- /.navbar-collapse -->
 


        <!-- /.container-fluid -->
        </div>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>
            </div>
        </div>
    </header>

