<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <h2 class="section-heading">
            Requirements</h2>
            <div class ="requirements">
                <p>London Acre is seeking residential development opportunities in key central London locations that meet the following requirements:</p>

                <ul>
                    <li>Unconditional, consented and subject to planning residential-led schemes</li>
                    <li>Multi-unit apartment and housing schemes will be considered</li>
                    <li>Located within London Zones 1-5</li>
                    <li>Purchase prices ranging from £1-5 million</li>
                    <li>Sales values from £500-1500 per sq ft</li>
                    <li>Proximity to excellent transport links is a prerequisite</li>

                </ul>
                In a fast-paced market that relies on the ability to transact quickly, London Acre is well-positioned to draw on its own in-house funds, enabling the company to exchange and complete on site acquisitions within short timeframes.

                To find out more about London Acre’s requirements please contact the team at info@londonacre.com.


            </div>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in"></div>
                    <div class="intro-heading"></div>
                    <a href="#contact" class="contact page-scroll btn btn">Contact</a>
                </div>
            </div>
        </div>
    </section>